

body {
    background-color: #555; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

.constancia-hoja {
    background-color: white;
    width: 1100px; 
    height: 850px;
    max-width: 1100px; 
    aspect-ratio: 1.29; 
    padding: 4%;
    text-align: center;
    border: 20px solid #005288; 
    position: relative;
    box-shadow: 0 0 20px rgba(0,0,0,0.5); 
    box-sizing: border-box;
    
}


.logo-top {
    width: 20%;
    margin-bottom: 20px;
}

h1 {
    font-family: 'Playfair Display', serif; 
    font-size: clamp(2rem, 5vw, 4rem);
    color: #005288;
    margin: 20px 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.texto-otorga {
    font-size: 1.2rem;
    color: #666;
    margin-bottom: 10px;
}

.nombre-participante {
    font-size: clamp(1.5rem, 4vw, 3rem);
    font-weight: bold;
    color: #333;
    border-bottom: 2px solid #005288; 
    display: inline-block;
    padding: 0 30px 10px 30px;
    margin: 20px 0;
}

.cuerpo-texto {
    font-size: 1.3rem;
    line-height: 1.6;
    color: #555;
    margin: 30px 50px;
}

.evento-nombre {
    font-weight: bold;
    color: #005288;
    font-style: italic;
}

.fecha-emision {
    margin-top: 50px;
    font-size: 1rem;
    color: #777;
}


.firmas-container {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap: 100px;
}

.firma-box {
    border-top: 1px solid #333;
    width: 250px;
    padding-top: 10px;
}


.btn-imprimir {
    position: fixed;
    top: 20px;
    right: 20px;
    background: #28a745;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
    cursor: pointer;
    border: none;
    font-size: 1rem;
    transition: background 0.3s;
}

.btn-imprimir:hover {
    background-color: #218838;
}


@media print {
    body {
        background-color: white;
        margin: 0;
        padding: 0;
        display: block;
    }
    .constancia-hoja {
        box-shadow: none; 
        border: 5px solid #005288; 
        max-width: 100%;;
        height: 100vh; 
        position: absolute;
        top: 0;
        left: 0;
        margin: 0;
        padding: 20px; 
    }
    .btn-imprimir {
        display: none; 
    }
}

